body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-size: 24px;
}

.content-container {
    padding: 20px;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#status-display {
    margin-block: 10px;
}

#token-form {
    display: flex;
    align-items: flex-end;
    gap: 6px;
}

#explanation-text {
    max-width: 400px;
    color: rgb(197, 197, 197);
}
.control-container {
    flex-grow: 1;
}

input {
    flex-grow: 1;
}

small {
    color: rgb(173, 173, 173);
    font-size: 11px;
}

